body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c4c2c2;
}

::-webkit-scrollbar-thumb:hover {
  background: #adacac;
}

.mapboxgl-marker {
  cursor: pointer;
}

.mapboxgl-popup-content {
  min-width: 250px;
  max-width: 400px;
  max-height: 400px;
  overflow-y: auto;
}

.popup-dark .mapboxgl-popup-content {
  background-color: #2d3748;
  color: #fff;
}

.popup-dark .mapboxgl-popup-tip {
  border-top-color: #2d3748 !important;
}

.mapboxgl-popup-close-button {
  font-size: 28px;
  width: 20px;
}

.upload-image,
.upload-file {
  border: 1px solid #e7e3e3;
  padding: 8px 15px;
  border-radius: 5px;
}

.preview-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 5px;
}

.react-datepicker {
  font-family: inherit !important;
}

.react-datepicker__day--outside-month {
  opacity: 0.6;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: #237df5 !important;
}

.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__month-text--keyboard-selected:hover,
.react-datepicker__quarter-text--keyboard-selected:hover,
.react-datepicker__year-text--keyboard-selected:hover {
  background-color: #176fe0 !important;
}

.calendar-dark {
  background: #2d3748 !important;
}

.calendar-dark div {
  color: #fff !important;
}

.calendar-dark .react-datepicker__day:hover {
  background: rgba(255, 255, 255, 0.2);
}

.calendar-dark .react-datepicker__header {
  background: #2d3748 !important;
}

.error {
  color: #fc8181;
  margin-top: 7px;
  font-size: 14px;
}

.logo {
  display: block;
  width: 33px;
  height: 33px;
  object-fit: cover;
}

.react-colorful,
.pin {
  width: 70% !important;
  height: 120px !important;
}

.mapboxgl-user-location-accuracy-circle.mapboxgl-marker.mapboxgl-marker-anchor-center {
  z-index: 5 !important;
}

.mapboxgl-popup.mapboxgl-popup-anchor-bottom {
  z-index: 200 !important;
}

.mapboxgl-marker {
  z-index: 100 !important;
}

.marker-pin svg {
  display: block;
  width: 30px;
  height: 30px;
}

.btn-like {
  background: rgba(255, 0, 0, 0.2) !important;
  margin: 0 auto;
}

.btn-like:hover {
  background: rgba(255, 0, 0, 0.4) !important;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl input {
  outline: none !important;
}

.chakra-ui-dark .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  border-radius: 8px;
  background: #2d3748 !important;
  color: #fff !important;
}

.chakra-ui-dark .mapboxgl-ctrl-geocoder--button {
  background: transparent !important;
}

.chakra-ui-dark .mapboxgl-ctrl-geocoder.mapboxgl-ctrl input::placeholder {
  color: #fff;
}

.chakra-ui-dark .mapboxgl-ctrl-geocoder.mapboxgl-ctrl input {
  color: #fff !important;
}

.chakra-ui-dark .btn-login-google {
  background: transparent !important;
  box-shadow: none !important;
  color: #fff !important;
  transition: all 0.1s ease !important;
}

.chakra-ui-dark .btn-login-google > div {
  background: transparent !important;
}

.chakra-ui-dark .btn-login-google:hover {
  background: rgba(255, 255, 255, 0.08) !important;
}

.mapboxgl-ctrl-geolocate:first-child {
  display: none !important;
}

.mapboxgl-ctrl-group button + button {
  border-top: none !important;
}

.btn-login-google {
  justify-content: center !important;
  text-align: center !important;
  border-radius: 5px !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px 0px !important;
}

.btn-login-google span {
  font-size: 15px !important;
  font-family: inherit !important;
  font-weight: 600 !important;
  color: inherit !important;
}

.avatar {
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  transition: all 0.2s ease;
  outline: 2px solid transparent;
  object-fit: cover;
  cursor: pointer;
}

.avatar:hover {
  outline-offset: 2px;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
}

.chakra-popover__popper {
  z-index: 300 !important;
}
